<!-- <!-- <ul style="padding-top: 60px;">
    <li><a href="#">Dashboard</a></li>
    <li><a href="#">Loans</a></li>
    <li><a href="#">Customers</a></li>
    <li><a href="#">Payments</a></li>
    <li><a href="#">Invoices</a></li>
    <li><a href="#">Loan Plans</a></li>
    <li><a href="#">Reports</a></li>
    <li><a href="#">Settings</a></li>
</ul> -->
<div class="wrapper d-flex" style="padding-top: 50px;">
    <div class="sidebar">
        <ul>
            <li><a routerLinkActive="active" [routerLink]="'dashboard'"><i class="bi bi-house-door"></i>Dashboard</a></li>
            <li><a routerLinkActive="active" [routerLink]="'loans'"><i class="far fa-credit-card"></i>Loans</a></li>
            <li><a routerLinkActive="active" [routerLink]="'customers'"><i class="fas fa-file-invoice"></i>Customers</a></li>
        
            <li><a routerLinkActive="active" [routerLink]="'payments'"><i class="far fa-calendar-alt"></i>Payments</a></li>
            <li><a routerLinkActive="active" [routerLink]="'invoices'"><i class="fas fa-video"></i>Invoices</a></li>
            <li><a routerLinkActive="active" [routerLink]="'loan-types'"><i class="fas fa-id-badge"></i>Loan Plans</a></li>
        
            <li><a routerLinkActive="active" [routerLink]="'reports'"><i class="fas fa-external-link-alt"></i>Reports</a></li>
            <li><a routerLinkActive="active" [routerLink]="'settings'"><i class="fas fa-code"></i>Settings</a></li>
        </ul>
    </div>
</div>
