
<h3>Customers List</h3>
<button class="btn btn-primary" [routerLink]="'add'">Add New Customers</button>
<div class="container">
  
<div class="well">
    <table class="table">
      <thead>
        <tr>
          
          <th>Customer Id</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Phone Number</th>
          <th>Email</th>
          <th>Residence Address</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customerList">
          
          <td><a [routerLink]="['view',customer._id]" routerLinkActive="router-link-active" >{{ customer._id }}</a></td>
          <td>{{ customer.firstName }}</td>
          <td>{{ customer.lastName }}</td>
          <td>{{ customer.phoneNumber }}</td>
          <td>{{ customer.email }}</td>
          <td>{{ customer.R_address }},{{ customer.R_city }},{{ customer.R_state }},{{ customer.R_pin }}</td>
         
        </tr>

      </tbody>
    </table>
</div>
</div>